body{
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:white;
}

header{
  background:linear-gradient(to right,#111827,#1e3a8a);
  padding:40px;
  text-align:center;
}

header h1{
  font-size:50px;
  margin-bottom:20px;
}

nav a{
  color:white;
  text-decoration:none;
  margin:15px;
  font-size:18px;
}

nav a:hover{
  color:#60a5fa;
}

.about{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:50px;
  padding:60px;
  flex-wrap:wrap;
}

.logo{
  width:180px;
  border-radius:20px;
}

.text{
  max-width:500px;
}

.projects,
.games{
  text-align:center;
  padding:50px;
}

.cards{
  display:flex;
  justify-content:center;
  gap:25px;
  flex-wrap:wrap;
}

.card{
  background:#1e293b;
  padding:30px;
  width:250px;
  border-radius:20px;
  transition:0.3s;
}

.card:hover{
  transform:scale(1.05);
  background:#2563eb;
}

footer{
  background:black;
  text-align:center;
  padding:20px;
}
